.widget-lg {
    flex: 2;
    padding: 1.2em;
    border-radius: 5px;
    background-color: #f7f7f7;
    height: 40vh;
    overflow-y: scroll;
    box-shadow: -4px -18px 13px -15px rgba(0,0,0,0.11) inset; 
    -webkit-box-shadow: -4px -18px 13px -15px rgba(0, 0, 0, 0.075) inset;
    -moz-box-shadow: -4px -18px 13px -15px rgba(0,0,0,0.075) inset;

    .widget-title {
        font-weight: 600;
        color: #adadad;
        margin-bottom: 0.5em;
    }
    .wdgt-table {
        width: 100%;
        border-spacing: 20px;

        .wdgt-tr-1 {
            color: rgb(87, 87, 87);
            margin-bottom: 1em;
            .wdgt-th {
                text-align: left;
            }
        }
        .wdgt-tr {
            color: rgb(92, 92, 92);
        }
    }
    
}