// * {
//     outline: 1px solid #f00 !important;
//   }

:root {
    --main-theme: #E50914;
    --main-black: rgb(0, 0, 0);
}

.container {
    display: flex;
    .right-pane {
        flex: 8;
    }
}